@{
    Layout = "";
}


<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Pranay Maharana</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="favicon.png">
</head>
<body>
    <!-- Header
    ================================================== -->
    <header id="home">
        <nav id="nav-wrap">
            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#resume">Resume</a></li>
                <li><a class="smoothscroll" href="#portfolio">Projects</a></li>
                
                <li><a class="smoothscroll" href="#contact">Contact</a></li>
            </ul> <!-- end #nav -->
        </nav> <!-- end #nav-wrap -->
        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">Pranay Maharana</h1>
                <h3>
                    I'm a Tampa-bay based <span>.NET developer.</span> Let's <a class="smoothscroll" href="#about">start scrolling</a>
                    to learn more about me. Click here to view my <a class="smoothscroll" href="#resume">skills</a> and a sample of my <a class="smoothscroll" href="#portfolio">projects</a>.
                </h3>
                <hr />
                <ul class="social">
                    <li><a href="https://github.com/pmaharana"><i class="fa fa-github" style="font-size:3em;"></i></a></li>
                    
                    
                    <li><a href="https://www.linkedin.com/in/pranay-maharana-ab7330142/"><i class="fa fa-linkedin" style="font-size:3em;"></i></a></li>
                    
                </ul>
            </div>
        </div>
        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>
    </header> <!-- Header End -->
    <!-- About Section
    ================================================== -->
    <section id="about">
        <div class="row">
            <div class="three columns">
                <img class="profile-pic" src="~/images/portfolio/profile.jpg" alt="" />
            </div>
            <div class="nine columns main-col">
                <h2>About Me</h2>
                <p>
                  My name is Pranay Maharana and I'm a junior .NET developer based in the Tampa-bay area. I have worked in the pharmaceutical industry 
                    for the past 5 years. I began programming in March 2017 by enrolling at The Iron Yard. I've been learning to code in C# using the .NET 
                    framework. In addition, I'm well-versed in HTML, CSS, Javascript (jQuery) and can create dynamic and functional web-apps. Currently I'm 
                    learning React to improve my skills as a full-stack developer. Please check out the rest of my portfolio!
                </p>
                <div class="row">
                    <div class="columns contact-details">
                        <h2>Contact Details</h2>
                        <p class="address">
                            <span>Pranay Maharana</span><br>
                            
                            <span>(813)-843-4868</span><br>
                            <span>@ViewData["Email"]</span>
                        </p>
                    </div>
                    <div class="columns download">
                        <p>
                            <a href="https://drive.google.com/file/d/0Bwf0Xv38C73AYUpMZUNEdlpKNlk/view" class="button"><i class="fa fa-download"></i>Download Resume</a>
                        </p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end .main-col -->
        </div>
    </section> <!-- About Section End-->
    <!-- Resume Section
    ================================================== -->
    <section id="resume">
        <!-- Education
        ----------------------------------------------- -->
        <div class="row education">
            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>
            <div class="nine columns main-col">
                <div class="row item">
                    <div class="twelve columns">
                        <h3>University of South Florida</h3>
                        <p class="info">Bachelors of Sciences - Biomedical Science <span>&bull;</span> <em class="date">May 2010</em></p>
                        
                    </div>
                </div> <!-- item end -->
                <div class="row item">
                    <div class="twelve columns">
                        <h3>The Iron Yard</h3>
                        <p class="info">Backend-Engineering in C# <span>&bull;</span> <em class="date">June 2017</em></p>
                        
                    </div>
                </div> <!-- item end -->
            </div> <!-- main-col end -->
        </div> <!-- End Education -->
     
        <!-- Skills
        ----------------------------------------------- -->
        <div class="row skill">
            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>
            <div class="nine columns main-col">
               
                <div class="bars">
                    <ul class="skills">
                        <li><span class="bar-expand dotnet"></span><em>C# and .NET Framework</em></li>
                        <li><span class="bar-expand visualstudio"></span><em>Visual Studio</em></li>
                        <li><span class="bar-expand webstuff"></span><em>HTML & CSS</em></li>
                        <li><span class="bar-expand javascriptu"></span><em>Javascript (jQuery and Ajax)</em></li>
                        <li><span class="bar-expand entity"></span><em>Entity Framework</em></li>
                        <li><span class="bar-expand func"></span><em>Functional Programming</em></li>
                        <li><span class="bar-expand aspnet"></span><em>ASP.NET</em></li>
                        <li><span class="bar-expand sqlstuff"></span><em>MS SQL Server</em></li>
                    </ul>
                </div><!-- end skill-bars -->
            </div> <!-- main-col end -->
        </div> <!-- End skills -->
    </section> <!-- Resume Section End-->
    <!-- Portfolio Section
    ================================================== -->
    <section id="portfolio">
        <div class="row">
            <div class="twelve columns collapsed">
                <h1>Check Out Some of My Works.</h1>
                <!-- portfolio-wrapper -->
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-01" title="">
                                <img alt="" src="~/images/portfolio/blackjack.gif">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Blackjack</h5>
                                        <p>First logic-based project</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div> <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-02" title="">
                                <img alt="" src="~/images/portfolio/weather.gif">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Weatherman</h5>
                                        <p>Your current weather data</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div> <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-03" title="">
                                <img alt="" src="~/images/portfolio/pahstack1.gif">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>PAHStack</h5>
                                        <p>A Stackoverflow clone</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div> <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-04" title="">
                                <img alt="" src="~/images/portfolio/sherlock1.gif">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Sherlock</h5>
                                        <p>Urban Exploration app</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div> <!-- item end -->
                    
                </div> <!-- portfolio-wrapper end -->
            </div> <!-- twelve columns end -->
            <!-- Modal Popup
             --------------------------------------------------------------- -->
            <div id="modal-01" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="~/images/portfolio/blackjack.gif" alt="" />
                <div class="description-box">
                    <h4>Blackjack</h4>
                    <p>Made in Visual Studio as a console app. This demonstrates my knowledge of logic in C# by using if/else statements and loops.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Logic, Loops</span>
                </div>
                <div class="link-box">
                    <a href="https://github.com/pmaharana/weekend" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div><!-- modal-01 End -->
            <div id="modal-02" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="~/images/portfolio/weather.gif" alt="" />
                <div class="description-box">
                    <h4>Weatherman</h4>
                    <p>Consumes the national weather API to display current conditions as well as the user's name. Executes on the consple app.</p>
                    <span class="categories"><i class="fa fa-tag"></i>API, Weather</span>
                </div>
                <div class="link-box">
                    <a href="https://github.com/pmaharana/Weatherman" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div><!-- modal-02 End -->
            <div id="modal-03" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="~/images/portfolio/pahstack1.gif" alt="" />
                <div class="description-box">
                    <h4>PAHStack</h4>
                    <p>Deisgned to be a Stack Overflow clone website. This is entirely dynamic as it takes in the user's information to post questions and answers.
                     Included is a voting and search feature as well as an admin dashboard.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Entity Framework, MVC.NET</span>
                </div>
                <div class="link-box">
                    <a href="https://github.com/pmaharana/PAHStack" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div><!-- modal-03 End -->
            <div id="modal-04" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="~/images/portfolio/sherlock1.gif" alt="" />
                <div class="description-box">
                    <h4>Sherlock</h4>
                    <p>An urban exploration app that allows users to add markers on the map and save as a landmark. Other users can vote and comment on the landmark. Uses 
                    ASP.NET MVC Entity Framework, jQuery, and google maps API.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Exploration, Travel</span>
                </div>
                <div class="link-box">
                    <a href="https://github.com/pmaharana/Sherlock/tree/dev" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div><!-- modal-04 End -->
            

        </div> <!-- row End -->
    </section> <!-- Portfolio Section End-->
    <!-- Call-To-Action Section
    ================================================== -->
 
    <!-- Testimonials Section
    ================================================== -->
    <section id="testimonials">
        <div class="text-container">
            <div class="row">
                <div class="two columns header-col">
                    <h1><span>Client Testimonials</span></h1>
                </div>
                <div class="ten columns flex-container">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>
                                        Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                                        to do what you believe is great work. And the only way to do great work is to love what you do.
                                        If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                                    </p>
                                    <cite>Steve Jobs</cite>
                                </blockquote>
                            </li> <!-- slide ends -->
                            <li>
                                <blockquote>
                                    <p>
                                     It doesn't matter how slowly you go as long as you don't stop.
                                    </p>
                                    <cite>Confucius</cite>
                                </blockquote>
                            </li> <!-- slide ends -->
                        </ul>
                    </div> <!-- div.flexslider ends -->
                </div> <!-- div.flex-container ends -->
            </div> <!-- row ends -->
        </div>  <!-- text-container ends -->
    </section> <!-- Testimonials Section End-->
    <!-- Contact Section
    ================================================== -->
    <section id="contact">
        <div class="row section-head">
            <div class="two columns header-col">
                <h1><span>Get In Touch.</span></h1>
            </div>
            <div class="ten columns">
                <p class="lead">
                  Drop me a note if you have any questions!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <!-- form -->
                <form action="" method="post" id="contactForm" name="contactForm">
                    <fieldset>
                        <div>
                            <label for="contactName">Name <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactName" name="contactName">
                        </div>
                        <div>
                            <label for="contactEmail">Email <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                        </div>
                        <div>
                            <label for="contactSubject">Subject</label>
                            <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                        </div>
                        <div>
                            <label for="contactMessage">Message <span class="required">*</span></label>
                            <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                        </div>
                        <div>
                            <button class="submit">Submit</button>
                            <span id="image-loader">
                                <img alt="" src="images/loader.gif">
                            </span>
                        </div>
                    </fieldset>
                </form> <!-- Form End -->
                <!-- contact-warning -->
                <div id="message-warning"> Error boy</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                </div>
            </div>

            <aside class="four columns footer-widgets">
                <div class="widget widget_contact">
                    <h4>Email address</h4>
                    <p class="address">
                        @ViewData["Email"]
                    </p>
                </div>
               
            </aside>
        </div>
    </section> <!-- Contact Section End-->
    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="twelve columns">
                <ul class="social-links">
                    <li><a href="https://github.com/pmaharana"><i class="fa fa-github" style="font-size:3em;"></i></a></li>


                    <li><a href="https://www.linkedin.com/in/pranay-maharana-ab7330142/"><i class="fa fa-linkedin" style="font-size:3em;"></i></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Copyright 2014 CeeVee</li>
                    <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
                </ul>
            </div>
            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
        </div>
    </footer> <!-- Footer End-->
    <!-- Java Script
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/init.js"></script>
</body>
</html>